.searh_form
    height: 210px
    background-color: #34495E
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 95px
    padding: 50px 82px
    color: white
    border-radius: 20px
    font-size: 30px
    margin-bottom: 70px
